@page
@model RohamPaint.Pages.FormulPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Comment)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Usage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Usage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.BaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.BaseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Car.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.ColorType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.ColorType.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Unit.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Color.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
