@page
@model RohamPaint.Pages.FormulPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Lock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Lock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Usage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Usage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Accuracy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Accuracy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.BaseId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.BaseId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Car.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.ColorType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.ColorType.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color.Unit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Color.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
